<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
     <!-- Navbar -->
    <nav>
        <div class="nav-wrapper row indigo darken-4">
            <a href="#" class="brand-logo col s12">ICO</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://www.aragon.unam.mx/fes-aragon/#!/oferta-academica/licenciaturas/computacion">ICO</a></li>
                <li><a href="www.aragon.unam.mx/fes-aragon/">FES ARAGON</a></li>
                <li><a href="https://www.unam.mx">UNAM</a></li>
            </ul>
        </div>
    </nav>

    <!-- Principal -->
    <div class="container" style="text-align: center;">
        <h1>Pagina de Registro</h1>
        <div class="container">
            <div class="row">
                <form class="col s12 m8 offset-m2">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="nombre" type="text" class="validate" required>
                            <label for="nombre">Nombre Completo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" required>
                            <label for="email">Correo Electrónico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" required>
                            <label for="password">Contraseña</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect indigo darken-4" type="submit" name="action">
                                <i class="material-icons right ">Enviar</i>
                            </button> <a class="waves-effect waves-light btn indigo darken-4" href="/">INICIO</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer indigo darken-4 ">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">Mi App</h5>
                    <p class="grey-text text-lighten-4">Uso de materialize</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Programacion Web 2
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>