<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <h1>Pagina de Registro</h1>
    <form action="#" method="post">
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name" required maxlength="120" placeholder="Ingresa tu Nombre"><br><br>
        <label for="pass">Contraseña</label>
        <input type="password" id="pass" name="pass" required maxlength="120" placeholder="Ingresa Contas"><br><br> 
        <button type="submit">Ingresar</button> <button type="reset">Limpiar</button>
         
    </form>
    <a href="/">Inicio</a>
</body>
</html>